/*styles.css*/
* {
    font-family: helvetica;
    background-color: rgb(222, 224, 255);
  }

  input, select,
textarea {
  background-color: white;
}

#survey-form, .form-question,
#survey-form label,
#survey-form span{
  background-color: rgb(200, 206, 275);
}

#survey-form {
    padding: 25px;
    border-radius:25px;
    max-width: 50%;
    margin:auto;
  }

.form-question {
padding: 10px;
}

#title, #description{
    text-align:center;
}